@model IEnumerable<SchoolbookApp.Models.Note>

@{
    ViewData["Title"] = "Index";
}

<h1>Забележки</h1>


<table class="table table-striped table-bordered table-light">
    <thead class="thead-dark">
        <tr>
            <th>
                Забележка
            </th>
            <th>
                Предмет
            </th>
            <th>
                Дата 
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var note in Model) {
            <tr>
                <td>
                    @note.Text
                </td>
                @foreach (var subject in ViewBag.SubjectNames)
                {
                    @if (subject.Key == note.SubjectId) { 
                         <td>
                            @subject.Value
                        </td>
                    }

                }
                 <td>
                     @note.DateTime
                </td>
            
            </tr>
         }
    </tbody>
</table>
