@{ 
    ViewBag.Title = "AdminMain";
}
<h4>Subject</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ShowSearchResult">
            <div class="form-row">
                <div class="form-group">
                    <label class="control-label">Клас</label>
                    <select name="searchSchoolClassNum" class="form-control">
                        @for (int i = 0; i < 12; i++)
                        {
                            <option value=@(i+1)>@(i+1)</option>
                        }
                    </select>
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Паралелка</label>
                    <select name="searchSchoolClassLetter" type="char" class="form-control">
                        <option value='А'>А</option>
                        <option value='Б'>Б</option>
                        <option value='В'>В</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <input type="submit" value="Търсене" class="btn btn-primary" />
                </div>
                <div class="form-group">
                    <select name="searchType" type="string" class="form-control">
                        <option value="Subject">В предмети</option>
                        <option value="SchoolClass">В класове</option>
                        <option value="Profiles">В профили</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
