@{
    ViewData["Title"] = "Parent";
}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/parent.css" />
</head>
<body>
    <div class="topright">Добре дошли, г-жо Беатрис Терзиева!</div>
    <br />
    <br />
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="card card-margin">
                    <div class="card-header no-border">
                        <h5 class="card-title">Петър Терзиев</h5>
                    </div>
                    <div class="card-body pt-0">
                        <div class="widget-49">
                            <div class="widget-49-title-wrapper">
                                <div class="widget-49-date-primary">
                                    <span class="widget-49-date-day">4 а</span>
                                    <span class="widget-49-date-month">Клас</span>
                                </div>
                                <div class="widget-49-meeting-info">
                                    <h6>Класен-Гергана Стоянова</h6>

                                </div>
                            </div>
                            <ol class="widget-49-meeting-points">
                                <br />

                                <h4>Среден успех: 6,00</h4>

                            </ol>
                            <div class="widget-49-meeting-action">
                                <a href="#" class="btn btn-sm btn-flash-border-primary">Виж повече</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-margin">
                    <div class="card-header no-border">
                        <h5 class="card-title">Стефан Терзиев</h5>
                    </div>
                    <div class="card-body pt-0">
                        <div class="widget-49">
                            <div class="widget-49-title-wrapper">
                                <div class="widget-49-date-warning">
                                    <span class="widget-49-date-day">7 в</span>
                                    <span class="widget-49-date-month">Клас</span>
                                </div>
                                <div class="widget-49-meeting-info">
                                    <h6>Класен-Георги Станоев</h6>

                                </div>
                            </div>
                            <ol class="widget-49-meeting-points">
                                <br />
                                <h4>Среден успех: 4,20</h4>

                            </ol>
                            <div class="widget-49-meeting-action">
                                <a href="#" class="btn btn-sm btn-flash-border-warning">Виж повече</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-margin">
                    <div class="card-header no-border">
                        <h5 class="card-title">Юлия Терзиева</h5>
                    </div>
                    <div class="card-body pt-0">
                        <div class="widget-49">
                            <div class="widget-49-title-wrapper">
                                <div class="widget-49-date-warning">
                                    <span class="widget-49-date-day">12 б</span>
                                    <span class="widget-49-date-month">Клас</span>
                                </div>
                                <div class="widget-49-meeting-info">
                                    <h6>Класен-Мариана Йорданова</h6>

                                </div>
                            </div>
                            <ol class="widget-49-meeting-points">
                                <br />
                                <h4>Среден успех: 5,65</h4>

                            </ol>
                            <div class="widget-49-meeting-action">
                                <a href="#" class="btn btn-sm btn-flash-border-warning">Виж повече</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</body>
</html>