@model SchoolbookApp.Models.UserUser

@{
    ViewData["Title"] = "Create";
    ViewBag.Title = "Create";
}

<h4>@ViewBag.User</h4>
<h5>Добави ученик</h5>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-route-userId="@ViewBag.User.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Имейл на ученик</label>
                <input name="studentEmail" class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добави" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-controlelr="Users" asp-route-id="@ViewBag.User.Id">Отмяна</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
