@model SchoolbookApp.Models.UserUser

@{
    ViewData["Title"] = "Delete";
    ViewBag.Title = "Delete";
}

<h1>Премахване</h1>

<h3>Сигурни ли сте, че искате да премахнете следната връзка?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Родител
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.User
        </dd>
        <dt class = "col-sm-2">
            Ученик
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.Student
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Премахни" class="btn btn-danger" /> |
        <a asp-action="Index" asp-route-id="@Model.UserId">Отмяна</a>
    </form>
</div>
