
@{
    ViewData["Title"] = "StudentsProgram";
}

<head>

</head>
<body>
    <h1 id="weekly-program">Седмична програма за 10Б клас:</h1>
    <div class="weekly-program">
        <table class="table table-striped table-bordered table-light">
            <thead class="thead-dark">
                <tr>
                    <th>Понеделник</th>
                </tr>
            </thead>
            <tbody>
                <tr><td>Английски език</td></tr>
                <tr><td>Английски език</td></tr>
                <tr><td>Математика</td></tr>
                <tr><td>Физика</td></tr>
                <tr><td>Химия</td></tr>
                <tr><td>Час на класа</td></tr>
            </tbody>
        </table>

        <table class="table table-striped table-bordered table-light">
            <thead class="thead-dark">
                <tr>
                    <th>Вторник</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Английски език</td>
                </tr>
                <tr>
                    <td>Английски език</td>
                </tr>
                <tr>
                    <td>Математика</td>
                </tr>
                <tr>
                    <td>Физика</td>
                </tr>
                <tr>
                    <td>Химия</td>
                </tr>
                <tr>
                    <td>Биология</td>
                </tr>
            </tbody>
        </table>

        <table class="table table-striped table-bordered table-light">
            <thead class="thead-dark">
                <tr>
                    <th>Сряда</th>
                </tr>
            </thead>
            <tbody>
                <tr><td>География</td></tr>
                <tr><td>История</td></tr>
                <tr><td>Математика</td></tr>
                <tr><td>Информатика</td></tr>
                <tr><td>Химия</td></tr>
                <tr><td>Немски</td></tr>
            </tbody>
        </table>

        <table class="table table-striped table-bordered table-light">
            <thead class="thead-dark">
                <tr>
                    <th>Четвъртък</th>
                </tr>
            </thead>
            <tbody>
                <tr><td>География</td></tr>
                <tr><td>История</td></tr>
                <tr><td>Физическо</td></tr>
                <tr><td>Информатика</td></tr>
                <tr><td>Биология</td></tr>
            </tbody>
        </table>

        <table class="table table-striped table-bordered table-light">
            <thead class="thead-dark">
                <tr>
                    <th>Петък</th>
                </tr>
            </thead>
            <tbody>
                <tr><td>География</td></tr>
                <tr><td>История</td></tr>
                <tr><td>Информатика</td></tr>
                <tr><td>Физическо</td></tr>
                <tr><td>Рисуване</td></tr>
                <tr><td>Рисуване</td></tr>
            </tbody>
        </table>
    </div>
</body>

