@model IEnumerable<SchoolbookApp.Models.SubjectType>

@{
    ViewData["Title"] = "Index";
}

<h1>Видове предмети</h1>

<p>
    <a asp-action="Create">Създай нов</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Име
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактирай</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Изрий</a>
            </td>
        </tr>
}
    </tbody>
</table>
