
@{
    ViewData["Title"] = "StudentMain";
}

<header>
</header>
<body>
    <div class="student-layout">
        <div class="card">
            <h4 class="card-title">Среден успех:</h4>
            <p class="card-text">5.25</p>
        </div>

        <div class="card">
            <h4 class="card-title">Място в класа:</h4>
            <p class="card-text">4</p>
        </div>

        <div class="card">
            <h4 class="card-title">Среден успех на класа:</h4>
            <p class="card-text">4.98</p>
        </div>
    </div>

    <div class="subjects">
        <h2>Предмети:</h2>

        <div class="card">
            <div class="card-img">
                <a asp-action="Index" asp-controller="Grades">
                    <img src="~/img/mat.jpg" />
                </a>
            </div>
            <h4 class="card-title">Математика</h4>
            <p class="card-text">Георги Георгиев</p>
        </div>

        <div class="card">
            <div class="card-img">
                <a asp-action="Index" asp-controller="Grades">
                    <img src="~/img/fizika.jpg" />
                </a>
            </div>
            <h4 class="card-title">Физика</h4>
            <p class="card-text">Мария Иванова</p>
        </div>

        <div class="card">
            <div class="card-img">
                <a asp-action="Index" asp-controller="Grades">
                    <img src="~/img/bio.jpg" />
                </a>
            </div>
            <h4 class="card-title">Биология</h4>
            <p class="card-text">Анастасия Борисова</p>
        </div>
    </div>

    <a type="button" class="btn btn-info btn-lg btn-block" asp-action="StudentsProgram" asp-controller="Subjects">Програма</a>

    <div id="container">
        <button type="button" class="btn btn-secondary btn-lg">Забележки</button>
        <button type="button" class="btn btn-secondary btn-lg">Отсъствия</button>
    </div>


</body>

