@model IEnumerable<SchoolbookApp.Models.Absence>

@{
    ViewData["Title"] = "Index";
}

<h1>Отсъствия</h1>



<table class="table table-striped table-bordered table-light">
    <thead class="thead-dark">
        <tr>
            <th>
               Отсъствие
            </th>
            
            <th>
                Предмет
            </th>
            <th>
                Дата
            </th>
        </tr>
    </thead>
    <tbody>
            @foreach (var absence in Model) {
                <tr>
                    @if (absence.Half == true)
                    {
                        <td>1/2 Отсъствие</td>
                    }
                    else if (absence.isExcused == true)
                    {
                        <td>Извинено</td>
                    }
                    else 
                    { 
                        <td>Неизвинено</td>
                    
                    }

                    @foreach (var subject in ViewBag.SubjectNames)
                    {
                        @if (subject.Value == absence.Subject.SubjectType.Name) { 
                            <td>
                                 @subject.Value
                            </td>
                            break;
                        }
                    }

                    <td>
                        @absence.DateTime
                    </td>
            
                </tr>
            }
    </tbody>
</table>
