@model SchoolbookApp.Models.Grade

@{
    ViewData["Title"] = "Edit";
    ViewBag.Title = "Edit";
}

<h1>Поправка на оценка</h1>

<h4>на @ViewBag.Student</h4>
<h4>по @ViewBag.SubjectType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Basis" class="control-label"></label>
                <input asp-for="Basis" class="form-control" />
                <span asp-validation-for="Basis" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group" hidden>
                <label asp-for="StudentId" class="control-label"></label>
                <input asp-for="StudentId" class="form-control" />
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="SubjectId" />
            <div class="form-group">
                <label asp-for="DateTime" class="control-label"></label>
                <input asp-for="DateTime" class="form-control" />
                <span asp-validation-for="DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Home">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
