@model SchoolbookApp.Models.SchoolClass

@{
    ViewData["Title"] = "Delete";
}

<h1>Изтриване</h1>

<h3>Сигурни ли сте, че искате да изтриете следния клас?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Клас
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Num)
        </dd>
        <dt class = "col-sm-2">
            Паралелка
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Letter)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Изтрий" class="btn btn-danger" /> |
        <a asp-action="Index">Отмяна</a>
    </form>
</div>
